body {
  padding: 50px;
  font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
}

#title {
  margin-top: 0;
  color: white;
  font-size: 3em;
  text-align: center;
}

.menu {
  display: flex;
  justify-content: space-around;
}

.menu > a {
  margin: 10px;
  color: white;
}

#status {
  color: lightgray;
  text-align: center;
}

#subtitle {
  color: white;
  text-align: center;
}

a {
  color: #00b7ff;
}

.available {
  color: green;
}

.unavailable {
  color: red;
}

.room {
  color: black;
  border: 1px;
  border-style: solid;
  padding: 10px;
  border-radius: 10px;
  margin: 10px;
}

.rooms {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
}

body {
  background-color: rgba(0, 0, 0, 0.9);
}
