body {
  padding: 50px;
  font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

.available {
  color: green;
}

.unavailable {
  color: red;
}

.rooms {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
}
